<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="caja-superior">
            <img src="/images/logo-mercado-liebre.svg">
            <div  class="busqueda">
                <form  action="/search" method="get" target="_blank">
                    <p>
                        <input type="search" name="busquedam" placeholder="Buscar productos, marcas">
                        <button> <i class="fas fa-search"></i></button>
                    </p>
                </form>
            </div>
            <h1 class="txt1">
                <a href="#"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
            </h1>
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
       
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div 
        class="burger-menu"><i class="fas fa-bars"></i>
        </div>
    </header>

 <div class="banner"><img src="/images/img-home-banner.jpg" alt ="Banner"></div>
   
 <main class="main-container">
      

     <section>
         <h2>Basado en tu última visita:</h2>
         <div class="product-container">

         <article class="caja">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"width="200">
            <div class="caja-chiquita">
                <i class="fas fa-truck" class="icons-fa-truck"></i>
                <div class="caja-display">
                    <div class="descripcion">
                <h2 class="precio">$6.770</h2>
                <p class="descuentos">40% Off</p>
                </div>
                <h3>Cafetera Moulinex</h3>
            </div>    
            </div>
         </article>


         <article class="caja">
             <img src="images/img-macbook-pro-2019.jpg" alt ="Macbook Pro 2019"width="200">
             <div class="caja-chiquita">
                <i class="fas fa-truck" class="icons-fa-truck"></i>
                <div class="caja-display">
                    <div class="descripcion">
                <p class="precio">$230.000</p>
                <p class="descuentos" >20% Off</p>
                </div>
                <h3>Macbook Pro 2019</h3>
            </div>  
            </div>  
         </article>


         <article class="caja">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"width="200">
            <div class="caja-chiquita">
                <i class="fas fa-truck" class="icons-fa-truck"></i>
                <div class="caja-display">
                    <div class="descripcion">
                <p class="precio">$70.500</p>
                <p  class="descuentos">10% Off</p>
                </div>
                <h3>Samsung Galaxy S10</h3>   
            </div>
            </div>
         </article>


         <article class="caja">
            <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung 43"width="200">
            <div class="caja-chiquita">
                <i class="fas fa-truck" class="icons-fa-truck"></i>
                <div class="caja-display">
                    <div class="descripcion">
                <p class="precio">$23.200</p>
                <p  class="descuentos">5% Off</p>
                </div>
                <h3>SmartTv Samsung 34"</h3>  
            </div>
            </div>
         </article>
        </div>
        </section>


     <section>
            <h2>Secciòn de Ofertas</h2>
            <div class="product-container">

         <article class="caja">
                 <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"width="200">
                 <div class="caja-chiquita">
                    <i class="fas fa-truck" class="icons-fa-truck"></i>
                    <div class="caja-display">
                        <div class="descripcion">
                    <p class="precio">$6.770</p>
                    <p  class="descuentos">40% Off</p>
                    </div>
                    <h3>Cafetera Moulinex</h3> 
                 </div>
                 </div>
         </article>

         <article class="caja">
                <img src="images/img-macbook-pro-2019.jpg" alt ="Macbook Pro 2019"width="200">
                <div class="caja-chiquita">
                    <i class="fas fa-truck" class="icons-fa-truck"></i>
                    <div class="caja-display">
                        <div class="descripcion">
                    <p class="precio">$230.000</p>
                    <p  class="descuentos">20% Off</p>
                    </div>
                    <h3>Macbook Pro 2019</h3>
                </div>       
                </div>
         </article>


         <article class="caja">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"width="200">
                <div class="caja-chiquita">
                    <i class="fas fa-truck" class="icons-fa-truck"></i>
                    <div class="caja-display">
                        <div class="descripcion">
                    <p class="precio">$70.500</p>
                    <p  class="descuentos">10% Off</p>
                    </div>
                    <h3>Samsung Galaxy S10<h3> 
                </div>
                </div>
         </article>

         <article class="caja">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung 43"width="200">
                <div class="caja-chiquita">
                    <i class="fas fa-truck" class="icons-fa-truck"></i>
                    <div class="caja-display">
                        <div class="descripcion">
                    <p class="precio">$23.200</p>
                    <p  class="descuentos">5% Off</p>
                    </div>
                    <h3>SmartTv Samsung 34"</h3>  
                </div>
                </div>
         </article>
        </div>
     </section>
    </main>

    <footer>
        <ul>
            <li><h3 class="icons-footer"><i class="fas fa-credit-card"></i><br>Pagà con tarjeta o en efectivo</h3></li>
                <p class="description-footer">Con Mercado Liebre Cash, tenès cuotas sin interès con tarjeta o efectivo en
                  puntos de pago.¡Y siempre es seguro!</p>

            <li><h3 class="icons-footer"><i class="fas fa-gift"></i><br>Envìo gratis desde $2.500</i></h3></li>
                <p class="description-footer">Solo por estar registrado@ en Mercado Liebre tenès envìos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

                
            <li><h3 class="icons-footer"><i class="fas fa-user-shield"></i><br>Seguridad, de principio a fin</i></h3></li>
        </ul>
                <p class="description-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estàs siempre protegid@.</p>


            <h4 class="srl"> Copyright © 1999-2020 MercadoLiebre S.R.L</h4>

    </footer>
</body>
</html>