<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <title>Document</title>
</head>
<header class="main-header">
    <div class="caja-superior">
        <img src="/images/logo-mercado-liebre.svg">
        <div  class="busqueda">
            <form  action="/search" method="get" target="_blank">
                <p>
                    <input type="search" name="busquedam" placeholder="Buscar productos, marcas">
                    <button> <i class="fas fa-search"></i></button>
                </p>
            </form>
        </div>
        <h1 class="txt1">
            <a href="#"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
        </h1>
    </div>

    <nav class="main-navbar">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
   
        <ul>
            <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></i></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div 
    class="burger-menu"><i class="fas fa-bars"></i>
    </div>
</header>

<div class="banner"><img src="/images/img-home-banner.jpg" alt ="Banner"></div>

<main class="main-container">
<body>
    <fieldset class="cargadedatos">
        <legend><h1>Login</h1></legend>

    <div>
        <form action="/registro" method="get" class="login">
        <div>

        <label>Iniciar Sesion</label><br>
        <input type="text" placeholder="Nombre de usuario"><br>
        <input type="password" placeholder="Contraseña"><br>
        </div>

        <div class="elemento">
        <button type="submit"><a href="/">Enviar</a></button>
        <button type="reset">Borrar</button>
        </div>
    </div>
    </fieldset>
</body>
</html>