@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


*{
    font-family: 'Roboto', sans-serif;
}


.main-header {
    background-color: #eac926;
    width: 100%;
}
